@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
.btn-onCard, .btn_IDonTknow-onCard, .btn_Iknow-onCard {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  font-family: "New Tegomin", serif;
  font-size: calc(8px + 1vmin);
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.btn-navigation, .btn_nextPage, .btn_Pronunciation, .btn_prevPage {
  width: 70%;
  height: 50px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #23df23;
  border-radius: 5px;
  font-family: "New Tegomin", serif;
  font-size: calc(8px + 1vmin);
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.btn-navigation-link, .btn-back_Application_Not_Found, .btn_results, .btn_home, .btn_toTheFlashCard {
  width: 100%;
  height: 30px;
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "New Tegomin", serif;
  font-size: calc(10px + 1vmin);
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.btn-side, .btnBack, .btnFront {
  width: 100%;
  height: 40px;
  font-family: "New Tegomin", serif;
  font-size: calc(10px + 1vmin);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.btnFront {
  background-color: #ffc728;
  color: #333;
  border: 1px solid #fff;
}

.btnBack {
  background-color: #fff;
  color: #333;
  border: 1px solid #ffc728;
}

.btn_Iknow-onCard {
  border: 1px solid green;
}

.btn_IDonTknow-onCard {
  border: 1px solid red;
}

.btn_Pronunciation {
  border: 1px solid blue;
}

.btn_toTheFlashCard {
  border: 1px solid blue;
}

.btn_home {
  border: 1px solid #fbff00;
}

.btn_results {
  border: 1px solid #f77a06;
}

.btn-back_Application_Not_Found {
  width: 15%;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #69d637;
}

.ContainerDashboard {
  width: 600px;
  height: 100vh;
  min-width: 300px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.ContainerDashboard_header {
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContainerDashboard_main-selectLanguage {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ContainerDashboard_main-rangeSlider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ContainerDashboard_main-rangeSlider::before {
  position: absolute;
  color: #000;
  font-size: 0.9rem;
  content: attr(data-min);
  left: 10px;
}
.ContainerDashboard_main-rangeSlider::after {
  position: absolute;
  color: #000;
  font-size: 0.9rem;
  content: attr(data-max);
  right: 10px;
}
.ContainerDashboard_main-chooseSide {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ContainerDashboard_button {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 466px) {
  .ContainerDashboard {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .ContainerDashboard_header {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerDashboard_main-rangeSlider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .ContainerDashboard_main-rangeSlider::before {
    position: absolute;
    color: #000;
    font-size: 0.9rem;
    content: attr(data-min);
    left: 10px;
  }
  .ContainerDashboard_main-rangeSlider::after {
    position: absolute;
    color: #000;
    font-size: 0.9rem;
    content: attr(data-max);
    right: 10px;
  }
  .ContainerDashboard_button {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 465px) and (max-width: 768px) {
  .ContainerDashboard {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .ContainerDashboard_header {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerDashboard_main-rangeSlider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .ContainerDashboard_main-rangeSlider::before {
    position: absolute;
    color: #000;
    font-size: 0.9rem;
    content: attr(data-min);
    left: 10px;
  }
  .ContainerDashboard_main-rangeSlider::after {
    position: absolute;
    color: #000;
    font-size: 0.9rem;
    content: attr(data-max);
    right: 10px;
  }
  .ContainerDashboard_button {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.mainContainer {
  position: relative;
  width: 650px;
  height: 320px;
}
.mainContainer_text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mainContainer_boxIcon {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: calc(15px + 2vmin);
}
.mainContainer_boxIcon-check {
  color: #31da31;
}
.mainContainer_boxIcon-remove {
  color: #f50202;
}
.mainContainer_button {
  width: 100%;
  height: 60px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer_button-next-prev {
  margin-top: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mainContainer_button-back-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.theCard {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;
}
.theCard.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.fa fa-check {
  color: chartreuse;
}

@media (max-width: 466px) {
  .mainContainer {
    position: relative;
    width: 100vw;
    height: 50vh;
  }
  .mainContainer_text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainContainer_button {
    width: 100%;
    height: 60px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainContainer_button-next-prev {
    margin-top: 45vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .mainContainer_button-back-results {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .theCard {
    height: 80%;
  }
}
@media (min-width: 465px) and (max-width: 768px) {
  .mainContainer {
    position: relative;
    width: 99vw;
    height: 50vh;
  }
  .mainContainer_text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainContainer_button {
    width: 100%;
    height: 35px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainContainer_button-next-prev {
    margin-top: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .mainContainer_button-back-results {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .theCard {
    height: 75%;
  }
}
.theFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  color: #333;
  border-radius: 25px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.polishMeaning {
  margin-top: 50px;
}

.theBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #333;
  transform: rotateY(180deg);
  border-radius: 25px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.englishMeaning {
  margin-top: 50px;
}

.ContainerResults {
  width: 800px;
  height: 100%;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.ContainerResults_header {
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContainerResults_results h3 {
  color: #f50303;
}
.ContainerResults_table {
  font-size: 16px;
}
.ContainerResults_table tr,
.ContainerResults_table th,
.ContainerResults_table td {
  width: 100vw;
}
.ContainerResults_table-main {
  width: 800px;
  padding: 10px;
}
.ContainerResults_button {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 466px) {
  .ContainerResults {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .ContainerResults_header {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerResults_results h3 {
    color: red;
  }
  .ContainerResults_table-main {
    width: 100vw;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  .ContainerResults_button {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 465px) and (max-width: 768px) {
  .ContainerResults {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .ContainerResults_header {
    width: 100%;
    height: 60px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerResults_results h3 {
    color: red;
  }
  .ContainerResults_table-main {
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  .ContainerResults_button {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.ContainerResults {
  width: 800px;
  height: 100%;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.ContainerResults_header {
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContainerResults_results h3 {
  color: #f50303;
}
.ContainerResults_table {
  font-size: 16px;
}
.ContainerResults_table tr,
.ContainerResults_table th,
.ContainerResults_table td {
  width: 100vw;
}
.ContainerResults_table-main {
  width: 800px;
  padding: 10px;
}
.ContainerResults_button {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 466px) {
  .ContainerResults {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .ContainerResults_header {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerResults_results h3 {
    color: red;
  }
  .ContainerResults_table-main {
    width: 100vw;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  .ContainerResults_button {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 465px) and (max-width: 768px) {
  .ContainerResults {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .ContainerResults_header {
    width: 100%;
    height: 60px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerResults_results h3 {
    color: red;
  }
  .ContainerResults_table-main {
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  .ContainerResults_button {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.loaded_page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: #000;
}
.loaded_page-dotted {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #b80808;
  color: #b80808;
  box-shadow: 9999px 0 0 -5px #b80808;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #b80808;
  color: #b80808;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #b80808;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #b80808;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #b80808;
  }
  30% {
    box-shadow: 9984px 0 0 2px #b80808;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px #b80808;
  }
}
@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #b80808;
  }
  30% {
    box-shadow: 9999px 0 0 2px #b80808;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px #b80808;
  }
}
@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #b80808;
  }
  30% {
    box-shadow: 10014px 0 0 2px #b80808;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px #b80808;
  }
}
.notFound-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: #000;
}
.notFound-container-text {
  margin-left: auto;
  margin-right: auto;
}
.notFound-container-button {
  width: 100%;
  height: 60px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "New Tegomin", serif;
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

@media (max-width: 466px) {
  body {
    background-color: black;
  }
}
@media (min-width: 768px) {
  body {
    background-color: black;
  }
}