@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
.btn_Iknow {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  border: 1px solid green;
  border-radius: 5px;
  font-family: "New Tegomin", serif;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.btn_Iknow-onCard {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: #000;
  border: 1px solid green;
  border-radius: 5px;
  font-family: "New Tegomin", serif;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.btn_IDonTknow-onCard {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: #000;
  border: 1px solid red;
  border-radius: 5px;
  font-family: "New Tegomin", serif;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.btn_IDonTknow {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  border: 1px solid red;
  border-radius: 5px;
  font-family: "New Tegomin", serif;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.btn_Next {
  width: 70%;
  height: 50px;
  background-color: transparent;
  border: 1px solid lightgreen;
  border-radius: 5px;
  color: #fff;
  font-family: "New Tegomin", serif;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.btn_prevPage {
  width: 70%;
  height: 50px;
  background-color: transparent;
  border: 1px solid lightgreen;
  border-radius: 5px;
  color: #fff;
  font-family: "New Tegomin", serif;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.btn_toTheFlashCard {
  width: 70%;
  height: 50px;
  background-color: transparent;
  font-family: "New Tegomin", serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border: none;
  color: #fff;
  border: 1px solid blue;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.btn_home {
  width: 70%;
  height: 50px;
  background-color: transparent;
  font-family: "New Tegomin", serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border: none;
  color: #fff;
  border: 1px solid #fbff00;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.btn_results {
  width: 70%;
  height: 50px;
  background-color: transparent;
  font-family: "New Tegomin", serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border: none;
  color: #fff;
  border: 1px solid #af6016;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.ContainerDashboard {
  width: 600px;
  height: 600px;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}
.ContainerDashboard_header {
  width: 100%;
  height: 50px;
  background-color: black;
  color: #fff;
  align-items: center;
}
.ContainerDashboard_main-rangeSlider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ContainerDashboard_main-rangeSlider::before {
  position: absolute;
  color: #000;
  font-size: 0.9rem;
  content: attr(data-min);
  left: 10px;
}
.ContainerDashboard_main-rangeSlider::after {
  position: absolute;
  color: #000;
  font-size: 0.9rem;
  content: attr(data-max);
  right: 10px;
}
.ContainerDashboard_button {
  width: 100%;
  height: 60px;
  background-color: black;
  align-items: center;
}

.mainContainer {
  position: relative;
  width: 650px;
  height: 320px;
}
.mainContainer_text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mainContainer_button {
  width: 100%;
  height: 60px;
  margin-top: 60px;
}
.mainContainer_button-next {
  margin-top: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.theCard {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;
}
.theCard.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.theFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  color: #333;
  border-radius: 25px;
  font-weight: 800;
}

.polishMeaning {
  margin-top: 50px;
}

.theBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #333;
  transform: rotateY(180deg);
  border-radius: 25px;
  font-weight: 800;
}

.eanglishMeaning {
  margin-top: 50px;
}

.ContainerResults {
  width: 600px;
  height: 600px;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}
.ContainerResults_header {
  width: 100%;
  height: 50px;
  background-color: black;
  color: #fff;
  align-items: center;
}
.ContainerResults_button {
  width: 100%;
  height: 60px;
  background-color: black;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "New Tegomin", serif;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}