.ContainerDashboard {
  width: 600px;
  height: 600px;
  min-width: 300px;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.ContainerDashboard_header {
  width: 100%;
  height: 60px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContainerDashboard_main-selectLanguage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-family: Arial;
}
.ContainerDashboard_main-selectLanguage-select select {
  display: none;
  /*hide original SELECT element: */
}
.ContainerDashboard_main-selectLanguage-select select-selected {
  background-color: #ff1e7c;
}
.ContainerDashboard_main-selectLanguage-select select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.ContainerDashboard_main-rangeSlider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ContainerDashboard_main-rangeSlider::before {
  position: absolute;
  color: #000;
  font-size: 0.9rem;
  content: attr(data-min);
  left: 10px;
}
.ContainerDashboard_main-rangeSlider::after {
  position: absolute;
  color: #000;
  font-size: 0.9rem;
  content: attr(data-max);
  right: 10px;
}
.ContainerDashboard_button {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 466px) {
  .ContainerDashboard {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .ContainerDashboard_header {
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerDashboard_main-rangeSlider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .ContainerDashboard_main-rangeSlider::before {
    position: absolute;
    color: #000;
    font-size: 0.9rem;
    content: attr(data-min);
    left: 10px;
  }
  .ContainerDashboard_main-rangeSlider::after {
    position: absolute;
    color: #000;
    font-size: 0.9rem;
    content: attr(data-max);
    right: 10px;
  }
  .ContainerDashboard_button {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 465px) and (max-width: 768px) {
  .ContainerDashboard {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .ContainerDashboard_header {
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerDashboard_main-rangeSlider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .ContainerDashboard_main-rangeSlider::before {
    position: absolute;
    color: #000;
    font-size: 0.9rem;
    content: attr(data-min);
    left: 10px;
  }
  .ContainerDashboard_main-rangeSlider::after {
    position: absolute;
    color: #000;
    font-size: 0.9rem;
    content: attr(data-max);
    right: 10px;
  }
  .ContainerDashboard_button {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}