.mainContainer {
  position: relative;
  width: 650px;
  height: 320px;
}
.mainContainer_text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mainContainer_button {
  width: 100%;
  height: 60px;
  margin-top: 60px;
}
.mainContainer_button-next {
  margin-top: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.theCard {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;
}
.theCard:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}