.ContainerOwnFlipCards {
  width: 1000px;
  height: 100vh;
  min-width: 300px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ContainerOwnFlipCards_header {
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContainerOwnFlipCards_main-selectOptions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ContainerOwnFlipCards_table {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.ContainerOwnFlipCards_table tr,
.ContainerOwnFlipCards_table th,
.ContainerOwnFlipCards_table td {
  width: 100vw;
}

.ContainerOwnFlipCards_table-main {
  width: 800px;
}

.ContainerOwnFlipCards_button {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 466px) {
  .ContainerOwnFlipCards {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .ContainerOwnFlipCards_header {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerOwnFlipCards_table {
    font-size: 16px;
  }
  .ContainerOwnFlipCards_table tr,
  .ContainerOwnFlipCards_table th,
  .ContainerOwnFlipCards_table td {
    width: 98vw;
  }
  .ContainerOwnFlipCards_table-main {
    width: 95%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  .ContainerOwnFlipCards_button {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 465px) and (max-width: 768px) {
  .ContainerOwnFlipCards {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .ContainerOwnFlipCards_header {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerOwnFlipCards_table {
    font-size: 16px;
  }
  .ContainerOwnFlipCards_table tr,
  .ContainerOwnFlipCards_table th,
  .ContainerOwnFlipCards_table td {
    width: 96vw;
  }
  .ContainerOwnFlipCards_table-main {
    width: 90%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  .ContainerOwnFlipCards_button {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
