.ContainerResults {
  width: 800px;
  height: 90%;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.ContainerResults_header {
  width: 100%;
  height: 50px;
  background-color: black;
  color: #fff;
  align-items: center;
}
.ContainerResults_results h3 {
  color: red;
}
.ContainerResults_tabela {
  font-size: 16px;
}
.ContainerResults_tabela-main {
  width: 800px;
  padding: 10px;
}
.ContainerResults_button {
  width: 100%;
  height: 60px;
  background-color: black;
  align-items: center;
}