.theFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  color: #333;
  border-radius: 25px;
  font-weight: 800;
}

.polishMeaning {
  margin-top: 50px;
}

@media (max-width: 466px) {
  .theFront {
    height: 80%;
  }
}
@media (min-width: 465px) and (max-width: 768px) {
  .theFront {
    height: 80%;
  }
}