.btn_Iknow {
  width: 150px;
  height: 50px;
  background-color: green;
  font-family: 'New Tegomin', serif;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn_IDonTknow {
  width: 150px;
  height: 50px;
  background-color: red;
  font-family: 'New Tegomin', serif;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn_Next {
  width: 70%;
  height: 50px;
  background-color: lightgreen;
  font-family: 'New Tegomin', serif;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn_prevPage {
  width: 70%;
  height: 50px;
  background-color: lightgreen;
  font-family: 'New Tegomin', serif;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
