.btn_Iknow {
  width: 150px;
  height: 50px;
  background-color: green;
  font-family: 'New Tegomin', serif;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn_IDonTknow {
  width: 150px;
  height: 50px;
  background-color: red;
  font-family: 'New Tegomin', serif;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn_Next {
  width: 70%;
  height: 50px;
  background-color: lightgreen;
  font-family: 'New Tegomin', serif;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn_prevPage {
  width: 70%;
  height: 50px;
  background-color: lightgreen;
  font-family: 'New Tegomin', serif;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn_toTheFlashCard {
  width: 70%;
  height: 50px;
  background-color: transparent;
  font-family: 'New Tegomin', serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border: none;
  color: #fff;
  border: 1px solid blue; 
  border-radius: 5px;
  outline: none;
  cursor: pointer;  
  text-decoration: none;
}

