@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

@import './buttons';
@import './Dashboard.scss';
@import './FlipCard.scss';
@import './TheFront.scss';
@import './TheBack.scss';
@import './Results.scss';
@import './Results.scss';
@import './Loaded.scss';
@import './NotFound.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'New Tegomin', serif;
  background-color:  rgb(0, 0, 0);

  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

$phone-width: 466px;
$phone-width-1: 465px;
$tablet-width: 768px;
$tablet-width-1: 767px;
$desktop-width: 1024px;

@media (max-width: $phone-width) {
  body {
    background-color: rgb(0, 0, 0);
  }
}

@media (min-width: $tablet-width) {
  body {
    background-color: rgb(0, 0, 0);
  }
}

