.Container{
    width: 600px;
    height: 600px;
    background-color: #fff;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    
    &_header{
        width: 100%;
        height: 50px;
        background-color: black;
        color: #fff;
        align-items: center;

    }
    &_button{
        width: 100%;
        height: 60px;
        background-color: black;
        align-items: center;
    }
}