.ContainerOptionsFlipCards {
  width: 600px;
  height: 100vh;
  min-width: 300px;
  background-color: #fff;
  color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &_header {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_main {
    &-removeUser {
      opacity: 0;
      cursor: pointer;
      font-size: 18px;
    }
    &-removeUser:hover {
      opacity: 1;
    }

    &-selectLanguage {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &-rangeSlider {
      position: relative;
      width: 100%;

      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;

      &::before {
        position: absolute;
        color: #000;
        font-size: 0.9rem;
        content: attr(data-min);
        left: 10px;
      }
      &::after {
        position: absolute;
        color: #000;
        font-size: 0.9rem;
        content: attr(data-max);
        right: 10px;
      }
    }

    &-chooseSide {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &_button {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

$phone-width: 466px;
$phone-width-1: 465px;
$tablet-width: 768px;
$desktop-width: 1024px;

@media (max-width: $phone-width) {
  .ContainerOptionsFlipCards {
    width: 100vw;
    height: 100vh;
    margin: 0;

    &_header {
      width: 100%;
      height: 50px;
      background-color: #000;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_main {
      &-rangeSlider {
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;

        &::before {
          position: absolute;
          color: #000;
          font-size: 0.9rem;
          content: attr(data-min);
          left: 10px;
        }
        &::after {
          position: absolute;
          color: #000;
          font-size: 0.9rem;
          content: attr(data-max);
          right: 10px;
        }
      }
    }

    &_button {
      width: 100%;
      height: 60px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (min-width: $phone-width-1) and (max-width: $tablet-width) {
  .ContainerOptionsFlipCards {
    width: 100vw;
    height: 100vh;
    margin: 0;

    &_header {
      width: 100%;
      height: 50px;
      background-color: #000;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_main {
      &-rangeSlider {
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;

        &::before {
          position: absolute;
          color: #000;
          font-size: 0.9rem;
          content: attr(data-min);
          left: 10px;
        }
        &::after {
          position: absolute;
          color: #000;
          font-size: 0.9rem;
          content: attr(data-max);
          right: 10px;
        }
      }
    }

    &_button {
      width: 100%;
      height: 60px;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
